src/main/resources/schema/valueset.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns0="urn:ihe:iti:svs:2008" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ihe:iti:svs:2008" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RetrieveMultipleValueSetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DescribedValueSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ConceptList">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Concept">
                      <xs:complexType>
                        <xs:attribute name="code" type="xs:string" use="required" />
                        <xs:attribute name="codeSystem" type="xs:string" use="required" />
                        <xs:attribute name="codeSystemName" type="xs:string" use="required" />
                        <xs:attribute name="codeSystemVersion" type="xs:string" use="required" />
                        <xs:attribute name="displayName" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Source" type="xs:string" />
              <xs:element name="Purpose" type="xs:string" />
              <xs:element name="Definition" type="xs:string" />
              <xs:element name="Type" type="xs:string" />
              <xs:element name="Binding" type="xs:string" />
              <xs:element name="Status" type="xs:string" />
              <xs:element name="RevisionDate" type="xs:date" />
            </xs:sequence>
            <xs:attribute name="ID" type="xs:string" use="required" />
            <xs:attribute name="displayName" type="xs:string" use="required" />
            <xs:attribute name="version" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>